@import url('variaveis.css');
body{
  margin: 0;
}
#app {
background-color: var(--pageBackground);
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
font-family: var(--Main);
}

#card{
  height: 780px;
  width: 317px;
  background-color: var(--cardBackground);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow:0 4px 4px #00000048 ;
}

